 <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->



       <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <h2 class="text-white">Redes - 2021</h2> 
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="#">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#about"> Resumen  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#service"> Servicios</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="text-bg">
                     <h1>TP 5<br> DHCP, DNS, HTTP,  PROXY</h1>
                     <span>Grupo 5</span>
                     <hr/>
                     <span>- Tomas Martín</span>
                     <br/>
                     <span>- Nehemias Mercau</span>
                     <a class="read_more bg" href="/other">Cambiar de página</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="images/img.png" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- Hosting -->
      <div id="about" class="hosting">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Servidor y Host</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="web_hosting">
                     <figure><img  src="images/web.jpg" alt="#"/></figure>
                     <p>Utilizamos 2 máquinas virtuales, corriendo Ubuntu, simulando en una VM el servidor y en la otra VM el cliente. 
                         Implementamos una aplicación desarrollada en Node JS, alojada en el servidor web Nginx, gestionado por el administrador de procesos PM2</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Hosting -->
      <!-- Services  -->
      <div id="service" class="Services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Servicios de Red</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/service1.png" alt="#" /></i>
                     <h3>DHCP</h3>
                     <p>Dynamic Host Configuration Protocol. Proporciona IP en el rango de 192.168.1.50 - 192.168.1.100</p>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/service2.png" alt="#" /></i>
                     <h3>DNS</h3>
                     <p>Domain Name System. Algunos dominios que utilizamos: redes.com, redeswebserver, redesprinter</p>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/service3.png" alt="#" /></i>
                     <h3>HTTP</h3>
                     <p>Hypertext Transfer Protocol. El servidor Nginx recibe peticiones HTTP GET, y responde con un html desarrollado con handlebars</p>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="images/service4.png" alt="#" /></i>
                     <h3>PROXY</h3>
                     <p>Squid. Proxy para web, con caché. Mejora el rendimiento de las conexiones a internet guardando en caché peticiones recurrentes</p>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
     
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. <a href="#">Tomas Martín, Nehemias Mercau</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>